<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneCount Login</title>
</head>
<body>

{{ request.session.userData }}
<a href="{% url 'loginprocess'  %}"> Go For Login </a>
<a href="{% url 'registration'  %}"> Go For SignUp </a>

<div id="disqus_thread"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $.get("/check_sso", function(data, status){
    data = JSON.parse(data)
      $("body").append(data.sso);
    });

});
</script>



</body>
</html>