{% extends 'basic.html' %}

{% block content %}

<div class="container p-3">
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<a class="btn btn-outline-success " href="{% url 'registration'  %}"> Go For SignUp </a>
{% if request.session.user %}
    <a class="btn btn-outline-danger " href="{% url 'logoutprocess'  %}"> Go For Logout </a>
{% else %}
    <a class="btn btn-outline-info " href="{% url 'loginprocess'  %}"> Go For Login </a>
{% endif %}
</div>


{% endblock %}

{% block scripts %}
<script>


{% endblock %}

